body {
    font-family: 'Manrope', BlinkMacSystemFont, -apple-system, sans-serif;
    text-align: center;
    margin: 0;
    background: linear-gradient(45deg,#221d53 0%,#221d53 30%,#653f87 73%,#653f87 100%);
}

body, html {
    display: grid;
    height: 100%;
}

.container {
    width: 60%;
    height: 60%;
    background-color: white;
    margin: auto;
    padding: 30px 50px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.25);
}

.move {
    font-weight: bold;
    color: #653f87;
}

.title {
    color: #d3308a;
}

.scores {
    width: 100%;
    margin: 50px 0;

    th {
        color: #221d53;
        letter-spacing: 1px;
    }
    
    td {
        font-family: 'Roboto Mono', 'Andale Mono', 'Consolas', monospace;
        font-weight: 500;
        font-size: 2em;
    }
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;

    button {
        width: 30%;
        font-family: inherit;
        background: linear-gradient(to bottom,#ea3d97 1%,#8a57a4 100%);
        color: white;
        letter-spacing: 1px;
        font-weight: 700;
        border: 0;
        border-radius: 500px;
        padding: 8px;
        transition-property: all;
        transition-duration: 0.25s;

        &:hover {
            background: linear-gradient(to bottom,#221d53 1%,#8a57a4 100%);
        }
    }
}